/.cproject
/.project
/airmet.out
/dump978
/dump978.o
/extract_nexrad
/extract_nexrad.o
/fec.o
/gairmet.out
/metar.out
/notam.out
/reader.o
/sigmet.out
/slog.txt
/slog2.txt
/sua.out
/uat2esnt
/uat2esnt.o
/uat2json
/uat2json.o
/uat2text
/uat2text.o
/uat_decode.o
/pirep.out
/prod.txt
/raw.txt
/slog1.txt
/trev.txt
/type.txt
/moo2.txt
/moo.txt
/raw3.txt
/cloudt.out
/icingh18.out
/icingh20.out
/icingh22.out
/icingh24.out
/icingl2.out
/icingl10.out
/icingl12.out
/icingl4.out
/icingl6.out
/icingl8.out
/icingl14.out
/icingl16.out
/lightng.out
/nexradc.out
/samp.txt
/turbh18.out
/turbh20.out
/turbh22.out
/turbh24.out
/turbl2.out
/turbl4.out
/turbl6.out
/turbl10.out
/turbl12.out
/turbl14.out
/turbl16.out
/turbl8.out
/uat2text-save.c
/cloudt.out
/icingh18.out
/icingh20.out
/icingh22.out
/icingh24.out
/icingl10.out
/icingl12.out
/icingl2.out
/icingl4.out
/icingl6.out
/icingl8.out
/icingl14.out
/icingl16.out
/lightng.out
/nexradc.out
/turbh18.out
/turbh20.out
/turbh22.out
/turbh24.out
/turbl10.out
/turbl12.out
/turbl14.out
/turbl16.out
/turbl2.out
/turbl4.out
/turbl6.out
/turbl8.out
/uat_gs (copy).txt
/cwa.out
/uat_geo.o
/uat_decode-jan14.c
/uat_taf.o
/config.txt
/raw19.txt
/raw21.txt
/raw24.txt
/raw25.txt
/raw5.txt
/taf.out
