/.cproject
/.project
/airmet.out
/dump978
/dump978.o
/extract_nexrad
/extract_nexrad.o
/fec.o
/metar.out
/reader.o
/slog.txt
/uat2esnt
/uat2esnt.o
/uat2json
/uat2json.o
/uat2text
/uat2text.o
/uat_decode.o
/uat_geo.o
/uat_taf.o
/config.txt
