/.cproject
/.project
/airmet.out
/dump978
/dump978.o
/extract_nexrad
/extract_nexrad.o
/fec.o
/gairmet.out
/metar.out
/notam.out
/reader.o
/sigmet.out
/slog.txt
/slog2.txt
/sua.out
/uat2esnt
/uat2esnt.o
/uat2json
/uat2json.o
/uat2text
/uat2text.o
/uat_decode.o
/pirep.out
/prod.txt
/raw.txt
/slog1.txt
/trev.txt
/type.txt
/moo2.txt
/moo.txt
/raw3.txt
